*{
	box-sizing: border-box;
}
body{
	margin: 0;
	background-color: #fff;
	font-family: cursive,Helvetica, sans-serif;
}

button{
	cursor: pointer;
}
button:active{
	transform: scale(0.95);
}
input:focus,button:focus{
	outline: none;
}
header{
	background: url(learn_acoustic_blues_guitar_article_image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	position: relative;	
}
header::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
header *{
	z-index: 1;
}

header h1{
	margin: 0,0,40px;
}
form{
	width: 500px;
	position: relative;
	max-width: 100%;
}
form input{
	border: 0;
	border-radius: 50px;
	font-size: 16px;
	padding: 15px 30px;
	width: 100%;
}
form button{
	position: absolute;
	top: 2px;
	right: 2px;
/*	padding: 15px 30px;*/
	font-size: 16px;
	padding: 13px 30px;
	background-color: #e056fd;
	border-radius:50px;
	border: 0;
}
.btn{
	background-color: #8d56fd;
	border: 0;
	border-radius: 10px;
	color: #fff;
	padding: 4px 10px;
}
ul.songs{
	list-style-type: none;
	padding: 0;
}

ul.songs li{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
}
.container{
	margin: 30px auto;
	max-width: 90%;
	width: 500px;
/*	text-align: center;*/
}
.container h2{
	font-weight: 300;
}
.container p{
	text-align: center;
}
.centered{
	display: flex;
	justify-content: center;
}
.centered button{
	transform: scale(1.3);
	margin: 15px;
}
@media only screen and (max-width: 600px){
	form button{
	position: absolute;
	top: 4px;
	right: 2px;
/*	padding: 15px 30px;*/
	font-size: 12px;
	padding: 8px 20px;
	background-color: #e056fd;
	border-radius:30px;
	border: 0;
	}
	form input{
	border: 0;
	border-radius: 30px;
	font-size: 12px;
	padding: 12px 25px;
	width: 100%;
	}
}









